* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    overflow-y: hidden;
}

main {
    background-color: #FFFFFF;
    width: 100vw;
    height: 97.5vh;
}


.card-background {
    width: 475px;
    height: 247.75px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-25deg);
    top: -40px;
    left: -150px;
}

.down-card-background {
    width: 350px;
    height: 247.75px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-45deg);
    translate: -88px 650px;
}

.down2-card-background {
    width: 350px;
    height: 350px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-45deg);
    left: 150px;
    bottom: -200px;
}

.box-logo {
    width: 100vw;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.mal-logo {
    display: flex;
    width: 50px;
    height: 50px;
    font-weight: 400;
    background-color: blue;
    border-radius: 100px;

    justify-content: center;
    align-items: center;
}

.text-logo {
    font-size: 12px;
    color: #fff;
}

.title-logo {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-weight: lighter;

    text-align: center;
}





/*  Formulário de login */



.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.box-input-login {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75px;
    
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.box-input-password {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75px;
    
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.input-login, .input-password {
    width: 251px;
    height: 49px;
    padding: 10px;
    border: 0px solid transparent;
    background-color: #e8e8e8cb;
    color: #000;

    border-radius: 5px;
    box-shadow: 0 4px 4px 0 #00000028;

    font-size: 12px;
    font-weight: 400;
    font-family: 'Inria Sans';

    text-align: center;
    transition: .5s;
}

.input-login:hover, .input-password:hover {
    border: 1px solid rgba(0, 0, 0, 0.507);
    width: 271px;
    height: 69px;

    transition: .5s;
}

.box-acess-button {
    padding: 30px;
}

.acess-button {
    width: 122px;
    height: 33px;
    background-color: #001affbd;
    border-radius: 10px;
    color: #fff;

    border: 0px;
    cursor: pointer;

    font-size: 12px;
    font-weight: bold;
    font-family: 'Inria Sans';

    box-shadow: 0 4px 4px 0 #001aff96;

    transition: .5s;
}

.acess-button:hover {
    background-color: #e8e8e8cb;
    color: #001affbd;

    transition: .5s;
}




@media (min-width: 800px) {
    
    .mal-logo {
        width: 60px;
        height: 60px;
    }
    
    .text-logo {
        font-size: 16px;
        color: #fff;
    }


        
    .title-logo {
        font-size: large;
        color: #000;
    }
    
    .card-background::after {
        content: "";
        width: 450px;
        height: 600px;
        background-color: #0414A0;
        border-radius: 10px;
        position: fixed;
    
        transform: rotate(0deg);
        top: 950px;
        left: 900px;
    }

    .down-card-background::after {
        content: "";
        width: 350px;
        height: 247.75px;
        background-color: #0414A0;
        border-radius: 10px;
        position: fixed;
    
        transform: rotate(180deg);
        top: -0px;
        left: 1175px;
        
    }

    .down2-card-background::after {
        content: "";
        width: 350px;
        height: 247.75px;
        background-color: #0414A0;
        border-radius: 10px;
        position: fixed;
    
        transform: rotate(180deg);
        top: 20px;
        left: 1150px;
    }






    .box-input-login {
        width: 500px;
        height: 75px;
    }
    
    .box-input-password {
        width: 500px;
        height: 75px;
        }
    
    .input-login, .input-password {
        width: 350px;
        height: 100px;
        
        font-size: 16px;
        font-weight: 400;
        font-family: 'Inria Sans';
    }
    
    .input-login:hover, .input-password:hover {
        border: 1px solid rgba(0, 0, 0, 0.507);
        width: 400px;
        height: 130px;
    
        transition: .5s;
    }
    
    .acess-button {
        width: 150px;
        height: 40px;
        
        font-size: 15px;
        font-weight: bold;
        font-family: 'Inria Sans';
    }
    
    .acess-button:hover {
        background-color: #001aff1c;
        color: #001affbd;
    
        transition: .5s;
    }
    



}