* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    overflow-y: hidden;
}

main {
    background-color: #FFFFFF;
    width: 100vw;
    height: 97.5vh;
}


.card-background {
    width: 350px;
    height: 247.75px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-25deg);
    translate: -75px -33.73px;
}

.down-card-background {
    width: 350px;
    height: 247.75px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-45deg);
    translate: -88px 650px;
}

.down2-card-background {
    width: 350px;
    height: 247.75px;
    background-color: #0414A0;
    border-radius: 10px;
    position: fixed;

    transform: rotate(-45deg);
    translate: 120px 550px;
}

.box-logo {
    width: 100vw;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.mal-logo {
    display: flex;
    width: 50px;
    height: 50px;
    font-weight: 400;
    background-color: blue;
    border-radius: 100px;

    justify-content: center;
    align-items: center;
}

.text-logo {
    font-size: 12px;
    color: #fff;
}

.title-logo {
    width: 100%;
    font-size: 12px;
    color: #fff;
    font-weight: lighter;

    text-align: center;
}





/*  Formulário de login */




.box-input-login {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75px;
    
    align-items: center;
    justify-content: center;

    position: absolute;
    translate: 54px 271px;
    padding: 10px;
}

.box-input-password {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 75px;
    
    align-items: center;
    justify-content: center;

    position: absolute;
    translate: 54px 346px;
    padding: 10px;
}